
span{
    color: green;
}
.head{
    gap: 180px;
}
.text{
    color: black;
}

@media screen and (min-width:0px) and (max-width:480px){
    .head{
        gap: 0px;
        display: flex;
        flex-direction: column;
        width: 50px;
       row-gap: 60px ;

    }
}
    


